name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [zarish-fhir-server, zarish-terminology-server, zarish-fhir-data]
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Build ${{ matrix.module }}
      run: |
        cd ${{ matrix.module }}
        go mod tidy
        go build -v ./...

    - name: Test ${{ matrix.module }}
      run: |
        cd ${{ matrix.module }}
        go test -v ./...
